<!DOCTYPE html>
<html>
<head>
    <title>Le mie prenotazioni</title>
</head>
<body>

<h1>Le mie prenotazioni</h1>
{% if messages %}
    {% for message in messages %}
        <p style="
            padding:10px;
            border:1px solid #ccc;
            background-color:#f5f5f5;
        ">
            {{ message }}
        </p>
    {% endfor %}
{% endif %}

{% for prenotazione in prenotazioni %}
    <div>
        <h3>{{ prenotazione.corso.titolo }}</h3>
        <p>Data corso: {{ prenotazione.corso.data }}</p>
        <p>Prenotato il: {{ prenotazione.data_prenotazione }}</p>
        <a href="{% url 'annulla_prenotazione' prenotazione.id %}">
    Annulla prenotazione
        </a>
        <hr>
    </div>
{% empty %}
    <p>Non hai ancora prenotazioni.</p>
{% endfor %}

<a href="/">Torna ai corsi</a>

</body>
</html>